<div class="container-fluid hero-container">
      <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
          <p id="main"> ¡Descubre tu ritmo, desata tu pasión en Be Free Studio: ¡El lugar que te mantiene en movimiento!</p>
        </div>
      </div>
    </div>
    <div class="priscila modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="priscilavegaModalLabel">Priscila Vega</h1>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#priscilavegaModal" style="visibility: hidden;">
</button>
            </div>
            <div class="modal-body">
                    <p>Priscila Vega es una talentosa bailarina, profesora y coreógrafa de Argentina, con 15 años de experiencia en danza urbana, incluyendo estilos como Hip Hop, Femme Style, Jazz Funk y Reggaetón. En Argentina, ha sido profesora de Femme Style, Reggaetón, Urban Styles, Free Style, en diversos estudios de danza de Capital Federal y Provincia de Buenos Aires. Además, ha formado parte de compañías de baile como "Elite Shows", "Dembow", y "No Signal". También cuenta con experiencia en edición musical, remixado, edición de video e información audiovisual, y ha trabajado como coreógrafa en la productora “Luxes”.
                    Ha recibido formación tanto nacional como internacional. Se tituló en la Carrera de Formación Coreográfica en Hip Hop con mención en Metodologías de enseñanza y Composición Coreográfica. Cursada en LA URBAN, a cargo de Gaby Pardo, Pablo Amodio y Teresita Mancini. 
                    También ha tomado clases y asistido a seminarios dictados por reconocidos profesores internacionales, tales como Jermaine Browne, Tricia Miranda, Nika Kljun, Yanis Marshall, Brian Friedman, entre otros. Tomo clases en Broadway Dance Center (New York) y participo de la convención de “The Pulse” (Atlantic City, New Jersey)
                    Priscila también ha ampliado su formación en otros estilos y técnicas, incluyendo Danza Jazz, Danza Clásica, Contemporáneo, Danzas Árabes, Salsa, Bachata, Tango , así como, en estiramiento y elongación.
                    </p>
                </div>
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/InShot_20230328_191616289.jpg" class="w-50">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/IMG-20230311-WA0114.jpg" class="d-block w-50">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/IMG-20230311-WA0121.jpg" class="d-block w-50">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div style="height: 50px;"></div>